#optionm {
  color: aliceblue;
}
.navbar {
  background: rgb(115, 15, 124);
  background: linear-gradient(
    90deg,
    rgba(115, 15, 124, 1) 0%,
    rgba(217, 217, 217, 1) 0%,
    rgba(23, 28, 116, 1) 0%,
    rgba(22, 31, 66, 1) 37%,
    rgba(23, 23, 60, 1) 49%,
    rgba(129, 13, 17, 1) 100%
  );
}
